.confirm-modal-in-confirm-page {
    width: 100vw;
    height: 100vh;
    background: rgba(51, 51, 51, 0.1);
    top:0;
    z-index: 1000;
}
.content_modal{
    width: 785px;
    height: 546px;
    background: #FFFFFF;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.07);
    border-radius: 22px;
    padding: 79px 146px;
}
.modal_image{
    margin-bottom: 60px;
}
.image{
    background-repeat: no-repeat;
    background-position: center;
}
.image_in_modal{
    background-image: url("http://backcartestpro.qbex.io/assets/confirm/modal_image.svg");
    top: 12px;
    left: 11px;
    width: 148px;
    height: 147px;
}
.image_ellipse{
    width: 170px;
    height: 170px;
    background: #F4F8FF;
    border-radius: 50%;
}
.custom_button{
    font-weight: 600;
    width: 300px;
    padding: 10px 30px;
}
.image_close{
    background-image: url("http://backcartestpro.qbex.io/assets/confirm/close.svg");
    width:20px;
    height: 20px;
    right: 30px;
    top: 30px;
    cursor: pointer;
}
.custom_small{
    font-weight: 600;
    line-height: 27px;
    font-size: 16px;
}


@media screen and (max-width: 1100px){
    .content_modal{
        width: 100%;
        height: auto;
        padding: 79px 0;
        margin: 0 127px;
    }

}
@media screen and (max-width: 1023px){
    .input-information{
        width: 570px;
        margin-right: 0;
    }
    .container_payment{
        flex-direction: column!important;
        align-items: center;
    }
    .card_and_mobile_container{
        width: 93%;
    }
    .total{
        display: none!important;
    }
    .content_modal{
        margin: 0 39px;
    }
}
@media screen and (max-width: 767px){
    .input-information{
        width: 100%;
        padding: 0 30px;
    }
    .custom_small{
        font-size: 12px;
    }
    .content_modal{
        padding: 50px 38px;
    }
}
@media screen and (max-width: 567px){
    .input-information{
        width: 100%;
        padding: 0 15px;
    }
    .content_modal{
        padding: 30px 20px;
        margin: 0 15px;
    }
    .custom_button{
        width: 100%;
    }
}
