<section class="acordeon_item">
    <div>
        <div class="block_acordeon d-flex align-items-center justify-content-between"
             @click="open(position)"
            :class="item_acordeon && item_acordeon.active ? 'block_acordeon1' : 'block_acordeon2'">
            <div class="acordeon_title vstyle"
                 v-if="item_acordeon && item_acordeon.name"
                 v-html="item_acordeon.name">
            </div>
            <div class="arrow_acordeon vstyle"
                 :style="{transform: item_acordeon && item_acordeon.active ? 'rotate(180deg)' : 'rotate(0deg)'}">
            </div>
        </div>
        <hr class="middle_line" :style="{'display': item_acordeon && item_acordeon.active ? 'block': 'none'}">
        <div class="acordeon_content"
              :ref="`acordeon_content${position}`"
             :style="{'max-height': item_acordeon && item_acordeon.active ? '770px': 0}">
            <div v-if="item_acordeon && item_acordeon.content"
                 v-html="item_acordeon.content"></div>
        </div>
    </div>

</section>

