header{
    border-bottom: 1px solid #F4F8FF;
    position: fixed;
    width: 100vw;
    z-index: 100;
    background: white;
}
.container_margin{
    width: 1140px;
     margin: 0 15px;
}
.header_menu{
    width: 554px;
    height: 86px
}
.container_header_menu{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
}
.container_header_menu li{
    list-style: none;
    padding: 32px 0;
    display: flex;
    align-content: center;
    border-top: 2px solid white;
}
.container_header_menu li a{height: 20px;
    text-decoration: none;
    color: #333333;
    display: flex;
    align-items: center;
}
.container_header_menu li:hover{
    border-top: 2px solid #4876D0;
}
.container_header_menu li.active{
    border-top: 2px solid #4876D0;
}

.btn-lang-border{
    border-color: #DFDFDF;
    box-sizing: border-box;
    border-radius: 22px;
}
.header_badge_language #ddown-divider.btn-lang-border{
    outline: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
}
.header_badge_language .back-lang-color {
    background-color: #F4F8FF;
}
.header_logo{
    width: 89px;
    height: 40px;
    background-position: center;
    background-image: url("http://backcartestpro.qbex.io/assets/Frame.svg");
    /* background-size: 69px; */
    background-repeat: no-repeat;
    margin-right: 116px;
}
.custom_button{
    width: 190px;
}
#menuToggle, #menu{
    display: none;
}


#menu a
{
    text-decoration: none;
    color: #333333;
    transition: color 0.3s ease;
}

#menuToggle
{
    display: none;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input
{
    display: block;
    width: 35px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span
{
    display: block;
    width: 24px;
    height: 2px;
    margin-bottom: 6px;
    position: relative;
    background: #4876D0;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    right 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    left 1s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child
{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
    transform-origin: 0% 100%;

}
#menuToggle input:checked{
    top: -9px;
    left: -7px;
}
#menuToggle input:checked ~ span
{
    opacity: 1;
    margin-bottom: 7px;
    transform: rotate(45deg) translate(-2.5px, 3.5px);
    background: #4876D0;
    left: 5px;
    //width: 26px;
    //margin-left: 10px;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
    transform: rotate(-45deg) translate(0, -5px);
    left: 5px;
    //width: 26px;
}

#menu
{
    padding: 0;
    position: fixed;
    width: 260px;
    height: 100%;
    overflow-x: scroll;
    margin: -53px 0 0 -50px;
    background: #FDFEFF;
    box-shadow: -3px 0px 7px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    right: -100%;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    right 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

#menuToggle input:checked ~ ul {
    //transform: translate(-100%, 0);
    right: 0%;
}

.background{
    background: rgba(51, 51, 51, 0.1);
    width: 100vw;
    height: 100%;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: -1;
    transition-delay: 0.2s;
    opacity: 0;
    transition: 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
.background_active{
    display: block;
    opacity: 1;
}
#menu > div{
    margin-top: 70.7px;
    padding: 30px 50px;
    border-top:1px solid #F4F8FF;
}
#menu > div:first-child{
    padding-bottom: 30px;
}
#menu > div:last-child{
    padding-top: 35px;
    margin: 0;
}
#menu .menu_list:first-child{
    padding-top: 0;
}
#menu .menu_list:last-child{
    padding-bottom: 0;
}
@media screen and (max-width:1200px){
    .container_header_menu li a{
        font-size: 14px;
    }
    .header_menu{
        width: 470px;
    }
    .custom_button{
        width: 156px;
        font-size: 14px;
    }
}

@media screen and (max-width:900px){
    .header_menu{
        width: 392px;
    }
    .header_logo{
        margin-right: 60px;
    }
}

@media screen and (max-width:750px){
    #menuToggle, #menu{
        display: block;
    }
    #menuToggle{
        margin-top: 8px;
        position: relative;
    }
    .header_menu, .header_badge_language{
        display: none!important;
    }
    #menu .header_menu, #menu .header_badge_language{
        display: block!important;
    }
    .container_header{
        padding: 15px 30px;
    }
    .text_style{
        font-size: 14px;
    }

    #menu div li{
       text-align: center;
    }
    #menu .custom_button{
        width: 100%;
        font-size: 14px;
         padding: 0;
    }
    #down-divider{
        width: 100%;
    }
    .container_margin{
        margin: 0;
        width: 100%;
    }
}
    @media screen and (max-width:500px){
        .container_header{
            padding: 15px;
        }
    }
