.input-information {
    width: 400px;
    margin-right: 120px;
}
.custom_small{
     font-weight: 600;
     font-size: 16px;
 }
.confirm_input{
    width: 100%;
    border-radius: 20px;
    color: rgb(232, 232, 232);
    font-size: 14px;
}
