<section class="how-does-it-work d-flex justify-content-center">
    <div v-if="!screen.active" class="container_how-does-it-work">
        <div class="title_block_how-does-it-work text-center text-capitalize">
            How Does <span style="color:#5B93E8">It Work</span>
        </div>
        <div class="small_text description_block_how-does-it-work text-center">
            Just 3 easy steps to get result
        </div>
        <div class="block_information_how-does-it-work">
            <div class="item_block_information_how-does-it-work d-flex align-items-center"
                 v-for="(item, index) in information_how_does_it_work">
                <div class="image_block_for_information d-flex">
                    <div class="number text-center">
                        {{index + 1}}
                    </div>
                    <div :style="{order: item.order,
                      marginRight: item.order > -1 ? '0': '30px',
                       marginLeft: item.order > -1 ? '0': '30px'}">
                        <div class="title_for_information text-center">
                            {{item.title}}
                        </div>
                        <div class="small_text description_for_information text-center">
                            {{item.description}}
                        </div>
                    </div>
                </div>
                <div class="position-relative"
                     :style="{order: item.order,
                      marginRight: item.order > -1 ? '0': '30px',
                       marginLeft: item.order < 0 ? '0': '30px'}">
                    <div class="image_elips position-relative"></div>
                    <div class="image_for_information d-flex"
                         :style="{backgroundImage: `url(${item.path_image})`,
                          'background-position':  index == 1 ?'3px 61px' : 'center'}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-if="screen.active" class="container_how-does-it-work">
        <div class="title_block_how-does-it-work text-center text-capitalize">
            How Does <span style="color:#5B93E8">It Work</span>
        </div>
        <div class="small_text description_block_how-does-it-work text-center">
            Just 3 easy steps to get result
        </div>
        <div class="block_information_how-does-it-work">
            <div class="item_block_information_how-does-it-work d-flex align-items-center"
                 v-for="(item, index) in information_how_does_it_work">
                <div class="image_block_for_information d-flex">
                    <div class="number text-center">
                        {{index + 1}}
                    </div>
                    <div :style="{order: item.order,
                      marginRight: item.order > -1 ? '0': '30px',
                       marginLeft: item.order > -1 ? '0': '30px'}"
                    class="ignore_margin">
                        <div class="title_for_information text-center">
                            {{item.title}}
                        </div>
                        <div class="small_text description_for_information text-center">
                            {{item.description}}
                        </div>
                    </div>
                </div>
                <div class="position-relative"
                     :style="{order: item.order,
                      marginRight: item.order > -1 ? '0': '65px',
                       marginLeft: item.order < 0 ? '0': '65px'}">
                    <div class="image_elips position-relative"></div>
                    <div class="image_for_information d-flex"
                         :style="{backgroundImage: `url(${item.path_image})`,
                         'background-position':  index == 1 ?'3px 61px' : 'center',
                         backgroundPosition:  index == 1  && screen.value < 580?'3px 41px' : 'center'}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
