.how-does-it-work {
    width: 100%;
}
.container_how-does-it-work{
    width: 761px;
}
.title_block_how-does-it-work{
    margin-bottom: 20px;
    font-weight: 800;
    line-height: 51px;
    font-size: 28px;
    letter-spacing: 0.05em;
    color: #333333;
}
.description_block_how-does-it-work{
    margin-bottom: 80px;
    font-size: 16px;
}
.image_block_for_information{
    width: 411px;
    height: 133px;
    padding: 27px;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.image_elips{
    width: 320px;
    height: 320px;
    background: #F4F8FF;
    top: 0;
    border-radius: 50%;
}
.image_for_information{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 320px;position: absolute;
    height: 292px;top: 0;
    z-index: 12;
}
.item_block_information_how-does-it-work{
    margin-bottom: 81px;
}
.number{
    width: 22px;
    height: 74px;
    font-size: 60px;
    color: #5B93E8;
    margin-right: 28px;
    display: flex;
    align-items: center;
}
.title_for_information{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 16px;
    color: #333333;
}
.description_for_information{
    line-height: 23px;
    font-size: 14px;
}
