.headmenu {
    float: none;
    display: table;
    margin-top: 22px;
    background: #3b5998;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px;
}
.headmenu li {
    float: left;
    list-style: none;
    margin-right: 10px;
}
.headmenu li a {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    display: block;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.headmenu li a:hover {
    background: #314c86;
    color: #fff;
}
