<section class="input-information payment d-flex align-items-center flex-column">
    <div class="small_text custom_small">Information</div>
    <form class="card_and_mobile_container d-flex justify-content-between" style="width: 100%">
        <div class="card_block">
            <div class="styled-input-single d-flex align-items-center" v-for="(item, index) in cards" >
                <input type="radio" name="fieldset-1"
                       :id="'radio-example-one'+index" @change="radio_count(item, cards)"
                       :checked="item.status"/>
                <label :for="'radio-example-one'+index">{{item.name}}</label>
            </div>
        </div>
        <div class="mobile">
            <div class="styled-input-single d-flex align-items-center"
                v-for="(item, index) in cards1">
                <input type="radio" name="fieldset-1" @change="radio_count(item, cards1)"
                       :id="'radio-example-one'+ (index + cards.length )" :checked="item.status"/>
                <label :for="'radio-example-one'+ (index + cards.length )">{{item.name}}</label>
            </div>
        </div>
    </form>
    <div class="small_text custom_small">
        Do you have a Voucher Code?
    </div>
    <input type="text" class="disabled" placeholder="Enter your Voucher Code" v-disabled_input="cards.concat(cards1)">
    <div class="button_to custom_button d-flex align-items-center justify-content-center"
        @click="open_confirm_modal()"   style="font-weight: 600">
        Checkout
    </div>
</section>

