footer{
   background:#F4F8FF ;
}
.container_margin{
    width: 1140px;
    margin: 0 15px;
}
.footer_menu{
    width: 554px;
    height: auto;
    flex-direction: column;
}
.container_footer_menu{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
}
.container_footer_menu li{
    list-style: none;
    padding: 32px 0;
    display: flex;
    align-content: center;
    border-top: 2px solid #F4F8FF;
}
.container_footer_menu li a{
    height: 20px;
    text-decoration: none;
    font-size: 16px;
    color: #333333;
    display: flex;
    align-items: center;
}
.container_footer_menu li:hover{
    border-top: 2px solid #4876D0;
}
.container_footer_menu li.active{
    border-top: 2px solid #4876D0;
}

.footer_button{
    display: flex;
    justify-content: center;
    align-items:center;
    text-decoration: none;
    color:black;
    background: #85B1F5;
    width: 190px;
    height: 44px;
    padding: 0 30px;
    border-radius: 22px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
    margin:0 20px 0 50px;
}

.btn-lang-border{
    border-color: #DFDFDF;
    box-sizing: border-box;
    border-radius: 22px;
}
.footer_badge_language #ddown-divider.btn-lang-border{
    outline: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    background: white;
}
.footer_badge_language .back-lang-color{
    background-color: white;
}
.footer_badge_language #ddown-divider .dropdown-item:hover, .dropdown-item:focus,
.footer_badge_language #ddown-divider .dropdown-item {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    padding: 12px 20px;
}
.footer_logo{
    width: 89px;
    height: 40px;
    background-position: center;
    background-image: url("http://backcartestpro.qbex.io/assets/Frame.svg");
    /* background-size: 69px; */
    background-repeat: no-repeat;
}
.container_sotial_networks{
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
}
.sotial_networks, .payments{
    width: 24px;
    height: 24px;
    background-position: center;
    background-size: contain;
}
.payments{
    width: 46px;
    height: 35px;
    margin: 0 25px;
    background-repeat: no-repeat;
}
.container_payments{
    margin-top: 54px;
    margin-bottom: -10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer_text{
    margin-top: 46px;
    margin-bottom: 33px;
    font-size: 14px;
    font-weight: 400;
}
.footer_badge_language_mobile{
    display: none;
}
@media screen and (max-width:1200px){
    .container_margin {
        width: 100%;
        justify-content: space-around !important;
        height: auto;
    }

    .container_footer_menu li a {
        font-size: 14px;
    }
    .container_sotial_networks{
        //margin-top: 40px;
        width: 140px;
    }
    .footer_menu{
        align-items: center;
        height: auto;
    }
    .footer_badge_language .dropdown-menu{
        left: -15px
    }
}

@media screen and (max-width:900px){
    .footer_text{
        font-size: 14px;
        width: 537px;
        margin-left: 46px;
    }
    .footer_menu {
         width: 400px;
     }
}

@media screen and (max-width:767px){
    .container_margin {
        display: block!important;
        margin: 0;
        height: auto;
    }
    .footer_logo{
        margin: 14px 30px
    }
    .footer_menu{
        width: 100%;
        border-top: 1px solid #D8E1F0;
        display: flex;
        height: auto;
        align-items: center;
        justify-content: center;
    }
    .container_footer_menu{
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .footer_badge_language{
        display: none;
    }
    .footer_badge_language_mobile{
         display: block;
    }
    .footer_text{
        width: 290px;
        font-size: 12px;
        margin-left: 0;
        text-align: center;
    }
    .container_footer_menu li:hover{
        border-top: 2px solid #F4F8FF;
    }
    .container_footer_menu li.active{
        border-top: 2px solid #F4F8FF;
    }
    .container_footer_menu li{
        padding: 17px 0;
    }
    .container_payments{
        flex-direction: column;
        align-items: center;
    }
    .payments{
        margin-bottom: 25px;
    }
    .payments:last-child{
        margin-bottom: 0;
    }
}


