.information-and-start {
    width: 100vm;
}
.content_information_start_test{
    width: 942px;
}
.custom_title{
    margin-top: 90px;
    margin-bottom: 20px;
}
.information{
    margin-top: 100px;
    width: 100%;
}
.custom_small_title{
    font-weight: 600;
    line-height: normal;
    font-size: 20px;
    margin-bottom: 50px;
}
.content{
    margin-bottom: 70px;
}
.information_title{
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 20px;
}
.ready{
    font-weight: 600;
    line-height: 27px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 90px;
}
.custom_button{
    width: 400px;
    margin-bottom: 251px;
}
