

.tab_content_information{
    width: 570px;
    padding-right: 48px;
    margin-bottom: 246px;
}

.image_size{
    width: 562px;
    height: 562px;
}
.tab_content_image{
    background-repeat: no-repeat;
    top: 55px;
    width: 572px;
    height: 570px;
}

.title_tab{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 50px;
}
.content_tab{
    font-weight: 500;
    line-height: 23px;
    font-size: 14px;
}
.tab_content_elips{
    background: #F4F8FF;
    border-radius: 50%;
}

ul.content_tab{
    padding-left: 20px;
    list-style-image: url("http://backcartestpro.qbex.io/assets/home_page/arrow_ok.png");
    margin-top: 43px;
}
ul.content_tab li{
    margin-bottom: 30px;
}

@media screen and (max-width:1200px){
    .content-tabs {
        width: 100%;
        padding: 0 47px;
    }
    .tab_content_image_container{
        width: 100%;
    }
    .tab_content_information{
        width: 100%;
    }
    .image_size{
        width: 100%;
        height: 515px;
        background-size: contain;
    }
    .tab_content_image{
        background-repeat: no-repeat;
        top: 55px;
        width: 100%;
        height: 515px;
    }

}

@media screen and (max-width:900px){
    .footer_text{
        font-size: 14px;
        width: 537px;
        margin-left: 46px;
    }
    .footer_menu {
        width: 400px;
    }
}

@media screen and (max-width:767px){
    .container_margin {
        display: block!important;
        margin: 0;
        height: auto;
    }
    .footer_logo{
        margin: 14px 30px
    }
    .footer_menu{
        width: 100%;
        border-top: 1px solid #D8E1F0;
        display: flex;
        height: auto;
        align-items: center;
        justify-content: center;
    }
    .container_footer_menu{
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .footer_badge_language{
        display: none;
    }
    .footer_badge_language_mobile{
        display: block;
    }
    .footer_text{
        width: 290px;
        font-size: 12px;
        margin-left: 0;
        text-align: center;
    }
    .container_footer_menu li:hover{
        border-top: 2px solid #F4F8FF;
    }
    .container_footer_menu li.active{
        border-top: 2px solid #F4F8FF;
    }

}


