.information-steps-modal {
    width: 100vw;
    height: 100vh;
    background: rgba(51, 51, 51, 0.1);
    top:0;
    z-index: 1000;
}
.content_modal{
    width: 948px;
    height: 632px;
    background: #FFFFFF;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.07);
    border-radius: 22px;
    padding: 90px 89px;
    line-height: 23px;
    font-size: 14px;
    padding-right: 50px;
}
.modal_image{
    margin-bottom: 60px;
}
.image{
    background-repeat: no-repeat;
    background-position: center;
}
.image_in_modal{
    background-image: url("http://backcartestpro.qbex.io/assets/confirm/modal_image.svg");
    top: 12px;
    left: 11px;
    width: 148px;
    height: 147px;
}
.image_ellipse{
    width: 170px;
    height: 170px;
    background: #F4F8FF;
    border-radius: 50%;
}
.custom_button{
    font-weight: 600;
    width: 400px;
    padding: 10px 30px;
    margin-right: 10px;
}
.image_close{
    background-image: url("http://backcartestpro.qbex.io/assets/confirm/close.svg");
    width:20px;
    height: 20px;
    right: 30px;
    top: 30px;
    cursor: pointer;
}
.custom_small{
    font-weight: 600;
    line-height: 27px;
    font-size: 16px;
    margin-bottom: 50px;
}
.content{
    margin-top: 50px;
}

.ellipse{
    width: 24px;
    height: 24px;
    left: -37px;
    border-radius: 50%;
    top: -2px;
}
.simvol{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border:2px solid #F9892E;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #F9892E;
    margin:0 11px;
    margin-top:-10px;
    font-size: 28px
}
.custom_small{
    font-size: 16px;
}
.content{
    font-size: 14px;
}
@media screen and (max-width: 1200px){
    .content_modal{
        width: 100%;
        height: auto;
        margin: 0 47px;
        padding: 89px 50px;
        padding-right: 50px;
    }
    .content{
         margin-left: 30px;
    }

}
@media screen and (max-width: 900px){
    .content_modal{
        margin: 0 39px;
        padding: 89px 30px;
    }
    .content{
        margin-left: 30px;
        font-size: 12px;
    }
    .custom_small{
         font-size: 14px;
     }
    span.ellipse_margin{
        display: block;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 630px){
    .simvol{
        margin-top: 7px;
    }
    span.ellipse_margin{
        display: block;
        margin-top: -15px;
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 567px){
    .content_modal{
        margin: 0 15px;
        padding: 30px 20px;
        padding-top: 90px;
    }
    .custom_small{
        margin-bottom: 40px;
    }
    .custom_button{
        width: 100%;
    }
    .content{
        margin: 0;
    }
    .ellipse_margin{
        margin-left: 40px;
    }
    .button{
        width: 100%;
    }
    .simvol{
        width: 24px;
        height: 24px;
        border: 1px solid #F9892E;
        font-size: 19px;
    }
}
