<section class="goal-and-benefits position-relative d-flex justify-content-center" id="benefits">
    <div v-if="!screen.active">
        <div class="elem_elipse"></div>
        <div class="elem_elipse elem_elipse1"></div>
        <div class="container_margin container_benefits">
            <div class="title_block_benefits text-center">
                Goals and <span style="color:#F9892E">Benefits</span>
            </div>
            <div class="description_block_benefits text-center">
                Extensive report, step by step, fully anonymous
            </div>
            <div class="d-flex flex-wrap justify-content: center;">
                <div class="item_block_information d-flex align-items-center"
                     v-for="item in information_benefits_list">
                    <div class="position-relative">
                        <div class="image_elips"></div>
                        <div class="image_for_information position-absolute"
                             :style="{backgroundImage: `url(${item.path_image})`}">
                        </div>
                    </div>
                    <div style="margin-left: 24px">
                        <div class="title_for_information">
                            {{item.title}}
                        </div>
                        <div class="small_text description_for_information text-left" v-html="item.description">
                            <!--{{}}-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 100%" v-if="screen.active">
        <div class="elem_elipse"></div>
        <div class="elem_elipse elem_elipse1"></div>
        <div class="container_margin container_benefits">
            <div class="title_block_benefits text-center text-uppercase">
                Goals and <span style="color:#F9892E">Benefits</span>
            </div>
            <div class="description_block_benefits text-center">
                Extensive report, step by step, fully anonymous
            </div>
            <div class="d-flex flex-column align-items-center">
                <div class="item_block_information d-flex align-items-center"
                     v-for="item in information_benefits_list">
                    <div class="position-relative">
                        <div class="image_elips"></div>
                        <div class="image_for_information position-absolute"
                             :style="{backgroundImage: `url(${item.path_image})`}">
                        </div>
                    </div>
                    <div class="item_block_information_text">
                        <div class="title_for_information">
                            {{item.title}}
                        </div>
                        <div class="small_text description_for_information text-left" v-html="item.description">
                            <!--{{}}-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
