.goal-and-benefits {
    margin-top: 5px;
    height: 958px;
    width: 100%;
    background: #F4F8FF no-repeat center;
    background-size: contain;
}

.container_benefits{
    padding-top: 171px;
    padding-bottom: 30px;
}

.title_block_benefits{
    margin-bottom: 20px;
    font-weight: 800;
    line-height: 51px;
    font-size: 23px;
    letter-spacing: 0.05em;
    color: #333333;
}
.description_block_benefits{
    margin-bottom: 80px;
    font-weight: 500;
}
.item_block_information{
    width: 48.5%;
    padding:30px 34px;
    background: white;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    margin-bottom: 30px;
}

.item_block_information:nth-child(odd){
    margin-right: 30px;
}
.image_elips{
    width: 90px;
    height: 90px;
    background: #F4F8FF;
    top: 0;
    border-radius: 50%;
}

.image_for_information{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 90px;
    height: 90px;
    top: 0;
    z-index: 12;
}

.title_for_information{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.description_for_information{
     line-height: 23px;
     font-size: 14px;
}
