<section class="send-message-and-contacts d-flex">

    <div class="d-flex align-items-center flex-column position-relative">
        <div class="our_address_img contact_image_for_page position-absolute"></div>
        <div class="title_block title">Our Address</div>
        <div ref="copy" class="contact_copy_information">
             <span style="font-weight: 600">CareerTestPro.com</span>
            <br><br>
            <span style="font-weight: 600">Part of:</span>
            Making Moves B.V.<br>
            Nicolaas Beetslaan 4<br>
            1985HH Driehuis (Amsterdam Area)<br>
            THE NETHERLANDS<br><br>
           <span style="font-weight: 600"> Chamber of Commerce:</span> 59839023
        </div>
        <div class="d-flex flex-grow-1 align-items-end custom_button">
            <div class="button_to align-self-end  d-flex custom_button
             align-items-center justify-content-center" @click="copy_text()">
                Copy
            </div>
        </div>
    </div>

    <div class="d-flex align-items-center flex-column position-relative">
        <div class="our_email_img position-absolute contact_image_for_page"></div>
        <div class="title_block title">Our Email</div>
        <div class="have-any-questions_block_input d-flex flex-column">
            <input type="text" v-model="data.name" placeholder="Enter your Name">
            <input type="text" v-model="data.email" placeholder="Enter your Email">
            <textarea v-model="data.message" placeholder="Enter your massage"></textarea>
            <a class="button_to send_button d-flex justify-content-center align-items-center"
            @click="send_mail()">
                Send
            </a>
        </div>
    </div>

</section>

