.steps {
    margin-top: 90px;
}
.step_content{
    width: 890px;
}
.custom_button{
    width: 190px;
    font-weight: 600;
    line-height: normal;
    font-size: 16px;
}
.item_question{
    margin-bottom: 30px;
}
.borders{
    border: 1px solid #DFDFDF;
    box-sizing: border-box;
    border-radius: 30px;
    cursor: pointer;
}
.number_questions{
    width: 80px;
    padding: 10px;
    //margin-right: 30px;
}
.content_question{
    width: 558px;
    padding: 10px 30px;
}
.select_questions{
    width: 192px;
}
.select_questions >div{
    width: 44px;
    height: 44px;
}
.select_questions >div.active{
    border: 1px solid #4876D0;
    background-image: url("http://backcartestpro.qbex.io/assets/tests/arrov_ok.svg");
    background-repeat: no-repeat;
    background-position: center;

}
.custom_small{
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
    margin-bottom: 70px;
}
.custom_title{
    margin-bottom: 20px;
}
.nav_step{
    width: 890px;
    margin-bottom: 25px;
    //padding: 18px 36px;
    font-weight: 600;
    line-height: normal;
    font-size: 20px;
    //box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);
}
.stepped{
    z-index: 10;
    padding: 18px 0;
    width: 89px;
    border-radius: 30px;

}

.s1{
    width: 88.6px;
}
.s2{
    width: 177.2px;
}
.s3{
    width: 265.5px;
}
.s4{
    width: 354.4px;
}
.s5{
    width: 443px;
}
.s6{
    width: 531.6px;
}
.s7{
    width: 620.2px;
}
.s8{
    width: 708.8px;
}
.s9{
    width: 800px;
}
.s10{
    width: 890px;
}
.orange_style{
    left: 0;
    top: -1px;
    border: 2px solid #F9892E;
    padding: 29px 0;
    margin: 0;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.18);
    //box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);
}
a{
    color: black;
}
.info{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border:2px solid #F9892E;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #F9892E;
    margin:0 11px;
    margin-top:-15px;
    font-size: 28px;
    right: -86px;
    top: 25px;
}
.information_content{
    width: 580px;
    padding: 11px 20px 11px 48px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    top:-146px;
    background: #FFFFFF;
    border-radius: 12px;
    line-height: 18px;
    font-size: 11px;
    color: black;
    font-weight: 400;
    z-index: 11;
}

.ellipse{
    width: 12px;
    height: 12px;
    left: -24px;
    border-radius: 50%;
    top: 2px;
}
.info_ellipse{
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    padding: 5px 24px;
    border-radius: 12px;
    font-weight: 600;
    line-height: normal;
    font-size: 11px;
    top: -20px;
    display: none;
}
.ellipse:hover + .info_ellipse{
    display: block;
}

