<section class="have-any-questions">
    <div class="d-flex justify-content-center flex-column align-items-center">
        <div class="have-any-questions_information">
            <div class="title_block text-capitalize">
                Have Any <span style="color:#F9892E">Questions?</span>
            </div>
            <div class="small_text text-sm-center">
                Please, feel free to contact us!
            </div>
        </div>
        <div class="have-any-questions_image_and_input d-flex justify-content-center">
            <div class="have-any-questions_block_image position-relative d-flex justify-content-center">
                <div class="have-any-questions_image position-absolute"></div>
                <div class="have-any-questions_elips"></div>
            </div>
            <div class="have-any-questions_block_input d-flex flex-column">
                <div class="margin_input" :class="{margin_input_no_active: !error.name.errors}">
                    <input type="text" v-model="data.name" :class="{error:error.name.errors}"
                         placeholder="Enter your Name">
                    <div class="error" v-if="error.name.errors">
                        <div>{{error.name.message.required}}</div>
                    </div>
                </div>
                <div class="margin_input" :class="{margin_input_no_active: !error.email.errors}">
                    <input type="text" v-model="data.email"  :class="{error:error.email.errors}"
                         placeholder="Enter your Email">
                    <div class="error" v-if="error.email.errors">
                        <div>{{error.email.message.required}}</div>
                        <div>{{error.email.message.email}}</div>
                    </div>
                </div>
                <div class="margin_input" :class="{margin_input_no_active: !error.message.errors}">
                    <textarea v-model="data.message" style="resize: none"
                         :class="{error:error.message.errors}"
                         placeholder="Enter your Message">
                    </textarea>
                    <div class="error" v-if="error.message.errors">
                        <div>{{error.message.message.required}}</div>
                    </div>
                </div>
                <a class="button_to button_to d-flex justify-content-center align-items-center"
                   @click="send_mail()">
                    Send
                </a>
            </div>
        </div>
    </div>
</section>

