
.have-any-questions_image_and_input {
    margin: 0 15px;
    width: 965px;
    margin-bottom: 150px;
}

.have-any-questions_information {
    margin-bottom: 76px;
}

.have-any-questions_block_image {
    width: 486px;
    height: 486px;
    margin-right: 70px;
}

.have-any-questions_elips {
    width: 408px;
    height: 408px;
    background: #F4F8FF;
    border-radius: 50%;
}

.have-any-questions_image {
    width: 220px;
    height: 496px;
    bottom: 30px;
    background-image: url("./../../../assets/home_page/have_any_questions.png");
}

.send_button {
    width: 400px;
}
