<div>
    <section v-if="screen.value >= 1240" class="all-aptitude-test d-flex justify-content-center align-items-center">
        <div class="elem_elipse custom_elem"></div>
        <div class="elem_elipse elem_elipse1 custom_elem"></div>
        <div class="all-aptitude-test_container d-flex justify-content-around">
            <div class="d-flex flex-column align-items-center justify-content-center">
                <div class="title_block_benefits text-capitalize vstyle"
                     v-if="fourSection && fourSection.title"
                     v-html="fourSection.title">
                </div>
                <div class="small_text vstyle"
                     style="margin-bottom: 30px"
                     v-if="fourSection && fourSection.description"
                     v-html="fourSection.description">
                </div>
                <router-link :to="'tests'" class="button_to d-flex justify-content-center
                    align-items-center text-decoration-none
                    custom_button vstyle"
                    v-if="fourSection && fourSection.testButton"
                    v-html="fourSection.testButton"
                >
                </router-link>
            </div>
            <div class="block_best_value d-flex justify-content-between">
                <div class="all-aptitude-list">
                    <ul class="small_text" v-if="fourSection && fourSection.arr">
                        <li v-for="item in fourSection.arr"
                            v-if="item"
                            class="vstyle clstyle"
                            v-html="item"></li>
                    </ul>
                </div>
                <div class="best_value text-center">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="m-2" style="font-weight: 600;">$</div>
                        <div class="m-2">39.95</div>
                    </div>
                    <div class="small_text best_value_text text-center vstyle"
                         v-if="fourSection && fourSection.value"
                         v-html="fourSection.value">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section v-if="screen.value < 1240 " class="all-aptitude-test d-flex justify-content-center align-items-center">
        <div class="elem_elipse custom_elem"></div>
        <div class="elem_elipse elem_elipse1 custom_elem"></div>
        <div class="all-aptitude-test_container d-flex justify-content-between">
            <div class="d-flex flex-column align-items-center justify-content-center">
                <div class="title_block_benefits custom_title text-capitalize vstyle"
                     v-if="fourSection && fourSection.title"
                     v-html="fourSection.title">
                </div>
                <div class="small_text custom_small vstyle"
                     style="margin-bottom: 30px"
                     v-if="fourSection && fourSection.description"
                     v-html="fourSection.description">
                </div>
                <router-link :to="'tests'" class="button_to d-flex justify-content-center
                    align-items-center text-decoration-none
                    custom_button custom_button_desktop vstyle"
                     v-if="fourSection && fourSection.testButton"
                     v-html="fourSection.testButton">
                </router-link>
            </div>
            <div class="block_best_value d-flex justify-content-between">
                <div class="all-aptitude-list">
                    <ul class="small_text" v-if="fourSection && fourSection.arr">
                        <li v-for="item in fourSection.arr"
                            class="vstyle clstyle"
                            v-if="item"
                            v-html="item"></li>
                    </ul>
                </div>
                <div class="middle_line"></div>
                <div class="best_value text-center">
                    <div class="d-flex justify-content-between align-items-center best_value_number">
                        <div class=" dollar" style="color : #333333">
                            $
                        </div>
                        <div style="color : #333333">39.95</div>
                    </div>
                    <div class="small_text best_value_text text-center vstyle"
                         v-if="fourSection && fourSection.value"
                         v-html="fourSection.value"></div>
                </div>
            </div>
            <router-link :to="'tests'" class="button_to d-flex justify-content-center
                    align-items-center text-decoration-none
                    custom_button custom_button_mobile vstyle"
                     v-if="fourSection && fourSection.testButton"
                     v-html="fourSection.testButton">
            </router-link>
        </div>
    </section>
</div>
